.announcement-page-container {
  .announcement-list {
    display: flex;
    justify-content: center;
    .MuiListItem-gutters {
      padding-left: 0;
      padding-right: 0;
    }
    .main-title {
      text-align: center;
    }
    .sub-title {
      text-transform: capitalize;
    }
    .announcement-wrapper {
      .MuiListItemText-primary {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 13px;
        @media (min-width: 1200px) {
          font-size: 16px;
        }
        .title {
          max-width: 80%;
        }
      }
    }
  }
}
